:root {
  --palette-blue-100: #19425f;
  --palette-orange-100: #f6712e;
  --palette-red-100: #b12524;
  --palette-shade-100: #ffffff;
  --palette-shade-200: #dae0e0;
  --palette-shade-300: #06070b;
  --palette-turquoise-100: #38a7ac;
  --palette-yellow-100: #fce190;
}
