p {
  color: var(--text-main);
  font-family: var(--font-family-body);
  font-size: var(--typo-size-5);
  margin: 0;
  padding: 0;
  margin-block: var(--scale-sm);

  aside & {
    color: var(--black);
  }
}
