h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-header);
  margin: 0;
  padding: 0;
  margin-block-start: var(--scale-md);
  margin-block-end: var(--scale-xs);
}

h1 {
  font-size: min(var(--typo-size-1), 9dvw)
}

h2 {
  font-size: min(var(--typo-size-2), 7dvw)
}

p {
  color: var(--text-main);
  font-family: var(--font-family-body);
  font-size: min(var(--typo-size-5), 5.5dvw);
  margin: 0;
  padding: 0;
  margin-block: var(--scale-sm);

  aside & {
    color: var(--black);
  }
}

strong {
  text-transform: uppercase;
}