.tf-v1-close.tf-v1-close.tf-v1-close {
  border-bottom: none;
}

.tf-v1-popover-close.tf-v1-popover-close.tf-v1-popover-close {
  border-bottom: none;
}

.tf-v1-popover-tooltip.tf-v1-popover-tooltip.tf-v1-popover-tooltip {
  background: var(--white);
}

.tf-v1-popover-tooltip-text.tf-v1-popover-tooltip-text.tf-v1-popover-tooltip-text {
  color: var(--black);
}

.tf-v1-popover-unread-dot.tf-v1-popover-unread-dot.tf-v1-popover-unread-dot {
  background-color: var(--accent);
  border-color: var(--accent);
}
